:root {
  --main-title-color: #212121;
  --secondary-title-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-title-color);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--secondary-title-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------HEADER---------------- */

.header {
  background-color: var(--main-background-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .list {
  display: flex;
  gap: 50px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-right: 93px;
}

.header-logo-part {
  color: #000000;
}

.header-list-contacts {
  margin-left: auto;
}

.header-link,
.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.current {
  color: var(--secondary-title-color);
}

.header-email-icon {
  width: 16px;
  height: 12px;
  fill: var(--main-text-color);
}

.header-tel-icon {
  width: 10px;
  height: 16px;
  fill: var(--main-text-color);
}

.header-tel:hover .header-tel-icon,
.header-tel:focus .header-tel-icon {
  fill: var(--secondary-title-color);
}

.header-email:hover .header-email-icon,
.header-email:focus .header-email-icon {
  fill: var(--secondary-title-color);
}

.header-email,
.header-tel {
  color: var(--main-text-color);
}

/* -------------HERO---------------- */

.hero {
  max-width: 1600px;
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpeg);
  padding: 200px 0px 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  background: var(--secondary-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--main-title-color);
}

/* -------------FEATURES---------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  max-width: 270px;
}

.features-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

/* -------------DESCR---------------- */

.descr {
  padding-top: 0;
}

.descr-list {
  display: flex;
  gap: 30px;
}

.descr-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

/* -------------TEAM---------------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-background-color);
}

.team-user {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--secondary-title-color);
  fill: var(--main-background-color);
}

.team-soc-icon {
  width: 20px;
  height: 20px;
}

/* ---------------CUSTOMERS----------- */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.customers-list {
  display: flex;

  gap: 30px;
}

.customers-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
}

.customers-link {
  fill: #afb1b8;
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--secondary-title-color);
}

.customers-item:hover,
.customers-item:focus {
  border-color: var(--secondary-title-color);
}
.customers-icon {
  width: 106px;
  height: 60px;
}

/* -------------FOOTER---------------- */

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  gap: 70px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.footer-logo-part {
  color: var(--secondary-text-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-email,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--main-background-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--secondary-title-color);
}

.footer-soc-icon {
  width: 20px;
  height: 20px;
}

/* -------------PORTFOLIO---------------- */

.portfolio {
  background-color: var(--main-background-color);
}

.portfolio-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-family: inherit, sans-sarif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--secondary-title-color);
  cursor: pointer;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item-project {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-item-project:hover,
.porfolio-item-project:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-wrap {
  max-width: 370px;
  padding: 20px 24px;
  border-left: #f5f5f5 solid 1px;
  border-right: #f5f5f5 solid 1px;
  border-bottom: #f5f5f5 solid 1px;
}
